OPENAI_API_KEY="Your open Api key"
MONGODB_URL="Your MONGODB URL"
MONGODB_DB_NAME=queryboard
JWT_SECRET_KEY="Your JWT_SECRET_KEY"
JWT_ALGORITHM="Your JWT_ALGORITHM"
JWT_EXPIRE_MINUTES="Your JWT_EXPIRE_MINUTES"
BACKEND_URL=http://127.0.0.1:8000
FRONTEND_URL=http://localhost:3000
